/venv
/test
output.avi

.DS_Store

__pycache__
**/*/__pycache__

/.vscode
/node_modules
/dist
**/*/dist
/cache
**/*/cache
/build
/logs
/tmp

.env

docs/.vitepress/cache
docs/.vitepress/cache/deps
docs/.vitepress/dist